// @font-face {
//   font-family: "Gilroy-Regular";
//   src: url(../../../fonts/Gilroy-Regular.woff),
//     url(../../../fonts/Gilroy-Regular.woff2);
// }

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;800&display=swap");

$bg-gray: #f7f7f7;
$bg-orange: #fd9f32;
$bg-beige: #f4eee5;
$bg-lightbrown: #b69d86;
$bg-darkbrown: #664b42;
$bg-button-menu: #a28276;

$mobile-width: 390px;
$tablet-width: 1024px;
$desktop-width: 1920px;

body {
  min-width: 390px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 120%;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: $bg-darkbrown;
  background-color: $bg-gray;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $bg-darkbrown;
}

.button {
  display: inline-block;
  margin-bottom: 5px;
  padding: 16px 26px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: -1%;
  color: #fff;
  background-color: $bg-orange;
  border: none;
  border-radius: 6px;
  box-shadow: 13px 4px 30px 0px rgba(203, 173, 149, 0.45);

  cursor: pointer;

  &:hover {
    box-shadow: 13px 4px 30px 0px rgba(203, 173, 149, 0.45);
    box-shadow: 3px 4px 30px 0px rgba(203, 173, 149, 0.8);
  }
}

button {
  display: inline-block;
  border: none;
  background-color: transparent;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// ----------------header----------------

.container {
  margin: 0 19px;
}

.header {
  margin-bottom: 12px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

// -------------------------------- header__toggle ---------------------
.header__toggle {
  position: relative;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__toggle--closed::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 2px;
  width: 24px;
  height: 2.4px;
  border-radius: 10px;
  background-color: $bg-button-menu;
  box-shadow: 0 8px 0 0 #a28276, 0 16px 0 0 #a28276;
}

.header__toggle--opened {
  &::before {
    position: absolute;
    content: "";
    top: calc(50%);
    left: calc(50% - 12px);
    width: 24px;
    height: 2.4px;
    border-radius: 50px;
    background-color: $bg-button-menu;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    content: "";
    top: calc(50%);
    left: calc(50% - 12px);
    width: 24px;
    height: 2.4px;
    border-radius: 10px;
    background-color: $bg-button-menu;
    transform: rotate(-45deg);
  }
}

// -------------------------------- header__icons ---------------------

.header__icons {
  display: flex;
}

.header__search {
  display: none;
  margin-right: 20px;
}
// -------------------------------- header__navigation ---------------------

.header__navigation {
  display: none;
}
// -------------------------------- header__language ---------------------

.header__language {
  display: none;
}
// -------------------------------- social ---------------------

.social {
  margin: 0 auto;
  width: 240px;
}

.social__list {
  display: flex;
}

.social__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}
// -------------------------------- header__social ---------------------

.header__social {
  margin-top: 14px;
  margin-bottom: 18px;
}
// -------------------------------- contacts ---------------------

.contacts {
  margin: 0 auto;
  display: flex;
}

.contacts__number {
  font-weight: 800;
  margin-right: 8px;
}

// -------------------------------- page-main__header ---------------------

.page-main__header {
  display: flex;
  align-items: center;
}

.page-main__logo {
  width: 143px;
  height: 183px;
  margin-right: 14px;
  flex-shrink: 0;
  z-index: 2;
}

.page-main__title-wrapper {
  min-width: 188px;
}
.page-main__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 110%;
  color: $bg-lightbrown;

  span {
    color: $bg-orange;
  }
}
// -------------------------------- slider-advantages ---------------------

.slider-advantages {
  position: relative;
  width: 100%;
  height: 481px;
  margin-top: -25px;
  margin-bottom: 30px;
}

.slider-pagination .swiper-pagination {
  top: 60px;
  height: 30px;
  margin-left: 34px;
  text-align: left;
}

.slider-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  margin: 0 11px !important;
  background-color: $bg-lightbrown;
}

.slider-pagination .swiper-pagination-bullet-active {
  position: relative;
  background-color: $bg-orange;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: -12px;
    left: -11px;
    border: 0.5px solid $bg-orange;
    border-radius: 100%;
  }
}

.slider-advantages-slide__image {
  height: 100%;
}

.slider-advantages__info {
  position: absolute;
  top: 106px;
  left: 29px;
  width: 297px;
  z-index: 1;
}

.slider-info__title {
  margin: 0 0 8px;
  font-size: 22px;
  font-weight: 800;
}
.slider-info__subtitle {
  font-size: 18px;
  margin: 0 0 10px;
}

.slider-info__button {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  width: 225px;
}

// -------------------------------- about-us ---------------------

.about-us {
  margin-bottom: 70px;
}

.about-us__video-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.about-us__play {
  position: absolute;
  z-index: 1;
  left: calc(50% - 35px);
  top: calc(50% - 35px);
}

.about-us__video {
  border-radius: 4px;
  height: auto;
}

.about-us__title {
  margin: 0 0 10px;
  font-weight: 700;
  color: #50220f;
}

.about-us__description {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 130%;
  color: #776157;
}

.about-us__signature {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.signature__image {
  margin-right: 14px;
}

.signature__text {
}

.signature__post {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #776157;
}

.signature__name {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #50220f;
}

.about-us__link-wrapper {
  text-align: center;
}

.about-us__link {
  color: $bg-orange;
  font-weight: 700;
}

.types-of-flour {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.card {
  width: 164px;
  min-height: 186px;
  background-color: $bg-beige;
  background: url(../../img/bg-card.png);

  border-radius: 8px;
  text-align: center;
}

.types-of-flour__card {
  margin-bottom: 24px;
}

.types-of-flour__card:nth-child(2n) {
  margin-left: 24px;
}

.card__image-wrapper {
  margin-top: -18px;
}

.card__name-wrapper {
  padding: 0 13px;
}

.card__name {
  margin: 0;
  font-weight: 700;
  color: #1C1616;
}

.products {
  display: none;
}
