@import url(https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;800&display=swap);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body {
  min-width: 390px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 120%;
  font-family: Mulish,sans-serif;
  font-weight: 500;
  color: #664b42;
  background-color: #fff
}
img {
  max-width: 100%;
  height: auto
}
ul {
  padding: 0;
  margin: 0;
  list-style: none
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #664b42
}
.button {
  display: inline-block;
  margin-bottom: 5px;
  padding: 16px 26px;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-family: Mulish,sans-serif;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: -1%;
  color: #fff;
  background-color: #fd9f32;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 13px 4px 30px 0 rgba(203,173,149,.45);
  box-shadow: 13px 4px 30px 0 rgba(203,173,149,.45);
  cursor: pointer
}
.button:hover {
  -webkit-box-shadow: 13px 4px 30px 0 rgba(203,173,149,.45);
  box-shadow: 13px 4px 30px 0 rgba(203,173,149,.45);
  -webkit-box-shadow: 3px 4px 30px 0 rgba(203,173,149,.8);
  box-shadow: 3px 4px 30px 0 rgba(203,173,149,.8)
}
button {
  display: inline-block;
  border: none;
  background-color: transparent
}
.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
.container {
  margin: 0 19px
}
.header {
  margin-bottom: 12px
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 30px
}
.header__toggle {
  position: relative;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer
}
.header__toggle--closed::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 2px;
  width: 24px;
  height: 2.4px;
  border-radius: 10px;
  background-color: #a28276;
  -webkit-box-shadow: 0 8px 0 0 #a28276,0 16px 0 0 #a28276;
  box-shadow: 0 8px 0 0 #a28276,0 16px 0 0 #a28276
}
.header__toggle--opened::before {
  position: absolute;
  content: "";
  top: 50%;
  left: calc(50% - 12px);
  width: 24px;
  height: 2.4px;
  border-radius: 50px;
  background-color: #a28276;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.header__toggle--opened::after {
  position: absolute;
  content: "";
  top: 50%;
  left: calc(50% - 12px);
  width: 24px;
  height: 2.4px;
  border-radius: 10px;
  background-color: #a28276;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.header__search {
  display: none;
  margin-right: 20px
}
.icon-number-product {
  display: block
}
.header__navigation {
  display: none
}
.header__language {
  display: none
}
.social {
  margin: 0 auto;
  width: 240px
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.social__item {
  margin-right: 20px
}
.social__item:last-child {
  margin-right: 0
}
.header__social {
  margin-top: 14px;
  margin-bottom: 18px
}
.contacts {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.contacts__number {
  font-weight: 800;
  margin-right: 8px
}
.title {
  font-size: 26px;
  line-height: 110%;
  font-weight: 700
}
.page-main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.page-main__logo {
  width: 143px;
  height: 183px;
  margin-right: 14px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  z-index: 2
}
.page-main__title-wrapper {
  min-width: 188px
}
.page-main__title {
  color: #b69d86
}
.page-main__title span {
  color: #fd9f32
}
.slider-advantages {
  position: relative;
  width: 100%;
  height: 481px;
  margin-top: -25px;
  margin-bottom: 30px
}
.slider-pagination .swiper-pagination {
  top: 60px;
  height: 30px;
  margin-left: 34px;
  text-align: left
}
.slider-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  margin: 0 11px!important;
  background-color: #b69d86
}
.slider-pagination .swiper-pagination-bullet-active {
  position: relative;
  background-color: #fd9f32
}
.slider-pagination .swiper-pagination-bullet-active::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: -12px;
  left: -11px;
  border: .5px solid #fd9f32;
  border-radius: 100%
}
.slider-advantages-slide__image {
  height: 100%
}
.slider-advantages__info {
  position: absolute;
  top: 106px;
  left: 29px;
  width: 297px;
  z-index: 1
}
.slider-info__title {
  margin: 0 0 8px;
  font-size: 22px;
  font-weight: 800
}
.slider-info__subtitle {
  font-size: 18px;
  margin: 0 0 10px
}
.slider-info__button {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  width: 225px
}
.about-us {
  margin-bottom: 70px
}
.about-us__video-wrapper {
  position: relative;
  margin-bottom: 20px
}
.about-us__play {
  position: absolute;
  z-index: 1;
  left: calc(50% - 35px);
  top: calc(50% - 35px)
}
.about-us__video {
  border-radius: 4px;
  height: auto
}
.about-us__title {
  margin: 0 0 10px;
  font-weight: 700;
  color: #50220f
}
.about-us__description {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 130%;
  color: #776157
}
.about-us__signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px
}
.about-us__link-wrapper {
  text-align: center
}
.about-us__link {
  color: #fd9f32;
  font-weight: 700
}
.signature__image {
  margin-right: 14px
}
.signature__post {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #776157
}
.signature__name {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #50220f
}
.types-of-flour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 100px
}
.card {
  width: 164px;
  min-height: 186px;
  background-color: #f4eee5;
  background: url(../../img/bg-card.png);
  border-radius: 8px;
  text-align: center
}
.types-of-flour__card {
  margin-bottom: 24px
}
.types-of-flour__card:nth-child(2n) {
  margin-left: 24px
}
.card__image-wrapper {
  margin-top: -18px
}
.card__name-wrapper {
  padding: 0 13px
}
.card__name {
  margin: 0;
  font-weight: 700;
  color: #1c1616
}
.path__title {
  font-size: 36px;
  line-height: 100%;
  font-weight: 800;
  text-align: center;
  padding: 0 10px 0;
  margin: 0 0 10px
}
.line-wrapper {
  text-align: center;
  margin-bottom: 10px
}
.purchase {
  margin-bottom: 10px
}
.purchase__image-wrapper {
  margin-bottom: 20px
}
.purchase__text-wrapper {
  width: 298px;
  margin-bottom: 10px
}
.purchase__title {
  margin: 0;
  margin-bottom: 16px
}
.purchase__description {
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 130%
}
.purchase__button {
  margin-bottom: 0
}
.tonnage {
  position: relative;
  margin-left: -19px;
  margin-right: -19px;
  margin-bottom: 10px;
  background-color: #f7f7f7
}
.tonnage::before {
  position: absolute;
  content: "";
  top: 0;
  left: -19px;
  width: 100%;
  height: 23px;
  background: url(../../img/pattern-top.png) no-repeat;
  z-index: 1
}
.tonnage__video {
  max-height: 200px;
  margin-bottom: 30px
}
.tonnage__video video {
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1
}
.tonnage__text {
  width: 227px;
  padding-bottom: 63px
}
.tonnage__title {
  margin: 0 0 16px;
  font-size: 26px;
  line-height: 110%;
  font-weight: 700
}
.tonnage__description {
  margin: 0;
  font-size: 16px;
  line-height: 130%
}
.clearing {
  margin-bottom: 10px
}
.clearing__pop-up {
  display: none
}
.clearing__image-wrapper {
  text-align: center;
  margin-bottom: 20px
}
.clearing__text-wrapper {
  width: 275px;
  margin-bottom: 156px
}
.clearing__title {
  margin: 0 0 16px
}
.clearing__description {
  margin: 0;
  font-size: 16px;
  line-height: 130%
}
.clearing__line-wrapper {
  display: none
}
.advantages__list {
  text-align: center
}
.advantages__item {
  position: relative;
  width: 274px;
  margin: 0 auto;
  margin-bottom: 156px
}
.advantages__item:last-child {
  margin-bottom: 0
}
.advantages__item--weight::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 90px;
  top: -106px;
  left: calc(50% - 45px);
  background-image: url(../../img/Icon-weight.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}
.advantages__item--sorting::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 90px;
  top: -106px;
  left: calc(50% - 45px);
  background-image: url(../../img/Icon-sorting.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain
}
.advantages__item--shape-and-size::before {
  position: absolute;
  content: "";
  width: 90px;
  height: 90px;
  top: -106px;
  left: calc(50% - 45px);
  background-image: url(../../img/Icon-shape-and-size.svg);
  background-repeat: no-repeat;
  background-position: center
}
.advantages__title {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 10px
}
.advantages__description {
  margin: 0;
  font-size: 14px;
  line-height: 130%
}
.production {
  position: relative;
  margin-left: -19px;
  margin-right: -19px;
  margin-bottom: 10px;
  background-color: #f7f7f7
}
.production::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 23px;
  background: url(../../img/pattern-top.png) no-repeat;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  z-index: 1
}
.production__text {
  width: 315px;
  padding-top: 35px;
  margin-bottom: 30px
}
.production__title {
  margin: 0 0 16px
}
.production__description {
  margin: 0;
  font-size: 16px;
  line-height: 130%
}
.production__image {
  height: 200px
}
.production__image img {
  max-height: 100%
}
.ton-pop-up {
  margin-left: auto;
  margin-top: -69px;
  margin-bottom: 20px;
  width: 285px
}
.ton-pop-up__line-wrapper {
  display: inline-block;
  margin-bottom: 29px;
  margin-left: 52px
}
.ton-pop-up__text-wrapper {
  margin-left: auto;
  width: 269px;
  height: 142px;
  padding: 25px 12px;
  position: relative;
  background-color: #f4eee5
}
.ton-pop-up__text-wrapper::before {
  position: absolute;
  content: "";
  top: -6px;
  left: -10px;
  width: 285px;
  height: 157px;
  background: url(../../img/pattern-full2.svg) no-repeat;
  z-index: -1
}
.pop-up__title {
  margin: 0 0 8px;
  font-weight: 700;
  color: #50220f
}
.pop-up__description {
  margin: 0;
  font-size: 14px
}
.product-type {
  margin-bottom: 10px
}
.product-type__image-wrapper {
  position: relative;
  width: 352px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px
}
.product-type__image-wrapper::before {
  position: absolute;
  content: "";
  top: 67px;
  right: 65px;
  width: 90px;
  height: 90px;
  background: url(../../img/icon-product-type.png) no-repeat;
  background-size: contain
}
.product-type__text {
  margin-bottom: 50px
}
.product-type__description {
  font-size: 15.5px;
  line-height: 130%
}
.product-type__button {
  min-width: 268px
}
.packing {
  margin-bottom: 42px
}
.card-1 {
  margin-bottom: 50px
}
.packing__card {
  padding: 0 15px;
  text-align: center
}
.card-1__title {
  margin: 0
}
.card-1__description {
  margin: 16px 0 0
}
.card-2 {
  margin-bottom: 30px
}
.card-2__title {
  margin: 0;
  font-size: 22px;
  line-height: 120%;
  font-weight: 700
}
.card-2__description {
  margin: 7px 0 52px
}
.card-3__title {
  margin: 0 0 13px;
  font-size: 22px;
  line-height: 120%;
  font-weight: 700
}
.card-3__name-wrapper {
  width: 261px;
  min-height: 41px;
  margin: 0 auto;
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.card-3__name {
  color: #50220f;
  margin: 0;
  -ms-flex-item-align: end;
  align-self: flex-end
}
.card-3-mt {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start
}
.shipment__wrapper {
  padding: 0 15px;
  text-align: center
}
.shipment__title {
  margin: 0 0 16px
}
.shipment__description {
  margin: 0 0 10px
}
.shipment__text {
  margin-bottom: 50px
}
.shipment__map-wrapper {
  background: url(../../img/map-bg.svg)
}
.shipment__map {
  width: 100%
}
.request {
  margin: 0 -19px;
  padding-bottom: 63px;
  background-color: #664b42;
  color: #f4eee5
}
.request__wrapper {
  padding-top: 35px
}
.request__text-wrapper {
  width: 317px;
  margin-bottom: 60px
}
.request__title {
  margin: 0 0 16px
}
.request__description {
  margin: 10px 0 0;
  font-size: 16px;
  line-height: 130%
}
.request__text {
  margin-bottom: 26px
}
.number__text {
  margin: 0 0 8px
}
.number__phone {
  margin: 0;
  color: #fd9f32
}
.form__input-wrapper {
  margin-bottom: 16px
}
.input-text {
  width: 100%;
  padding: 20px 40px;
  border-radius: 4px;
  border: none;
  background-color: #f2ede6
}
.input-text::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: #664b42;
  opacity: .5
}
.input-text::-moz-placeholder {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: #664b42;
  opacity: .5
}
.input-text:-ms-input-placeholder {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: #664b42;
  opacity: .5
}
.input-text::-ms-input-placeholder {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: #664b42;
  opacity: .5
}
.input-text::placeholder {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  color: #664b42;
  opacity: .5
}
.form__message {
  min-height: 222px
}
.form__message::-webkit-input-placeholder {
  font-size: 22px;
  font-weight: 600
}
.form__message::-moz-placeholder {
  font-size: 22px;
  font-weight: 600
}
.form__message:-ms-input-placeholder {
  font-size: 22px;
  font-weight: 600
}
.form__message::-ms-input-placeholder {
  font-size: 22px;
  font-weight: 600
}
.form__message::placeholder {
  font-size: 22px;
  font-weight: 600
}
.form__bottom-wrapper {
  position: relative;
  padding: 0 0 0 48px;
  margin-top: 24px;
  margin-bottom: 40px
}
.form__bottom-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #fd9f32;
  border: 2px solid #fff;
  border-radius: 4px
}
.form__bottom-wrapper::after {
  position: absolute;
  content: "";
  top: 6px;
  left: 6px;
  width: 17px;
  height: 17px;
  background: url(../../img/icon-checkbox.svg) no-repeat center
}
.form__link {
  color: #fff;
  border-bottom: 1px solid #fff
}
.form__button {
  width: 100%
}